<main class="min-vh-100">
  <div
    class="container-fluid d-flex justify-content-center align-content-center pt-5 pb-5"
  >
    <section class="w-50 d-flex justify-content-center align-items-center">
      <div class="">
        <h2 class="fw-bolder fs-1 text-left">CREATE YOUR PRODUCT.</h2>
        <p class="fw-medium fs-3">Enter the corresponding values for each field.</p>
      </div>
    </section>
    <form class="w-50 m-5">
      <div class="mb-3">
        <label for="Product title" class="form-label fw-semibold fs-4">Product
          title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="title"
        />
        <div id="titleHelp" class="form-text" style="color: #fcefaa;">Example:
          Keyboard HyperX</div>
      </div>
      <div class="mb-3">
        <label for="photo" class="form-label fw-semibold fs-4">Photo</label>
        <input
          type="text"
          class="form-control"
          id="photo"
          aria-describedby="photo"
        />
        <div id="photoHelp" class="form-text" style="color: #fcefaa;">Example:
          keyboard.png</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label fw-semibold fs-4">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          aria-describedby="price"
        />
        <div id="priceHelp" class="form-text" style="color: #fcefaa;">Example:
          $500.</div>
      </div>
      <div class="mb-3 w-100%">
        <label for="stock" class="form-label fw-semibold fs-4">Stock</label>
        <input
          type="number"
          class="form-control"
          id="stock"
          aria-describedby="stock"
        />
        <div id="stockHelp" class="form-text" style="color: #fcefaa;">Example:
          20.</div>
      </div>

      <button
        type="submit"
        class="btn w-100 fw-semibold"
        id="newProduct"
        style="background-color: #fcefaa; color: #121010"
      >Create</button>
    </form>
  </div>
</main>