<main class="">
  <h1
    class="fw-bolder text-center text-break"
    style="color: #352D2D"
  >PRODUCTS</h1>
  <div
    class="w-auto d-flex justify-content-center align-content-center gap-3 flex-wrap pt-5"
    id="products"
  >
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="./real.js"></script>