<main class="min-vh-100">
  <div
    class="container-fluid d-flex justify-content-center align-content-center pt-5 pb-5"
  >
    <section class="w-50 d-flex justify-content-center align-items-center">
      <div class="">
        <h2 class="fw-bolder fs-1 text-left">CREATE YOUR ACCOUNT.</h2>
        <p class="fw-medium fs-3">Enter the corresponding values for each field.</p>
      </div>
    </section>
    <form class="w-50 m-5">
      <div class="mb-3">
        <label
          id="exampleInputName"
          aria-describedby="nameHelp"
          class="form-label fw-semibold fs-4"
        >Name</label>
        <input
          type="email"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text" style="color: #fcefaa;">Example:
          Ezequiel</div>
      </div>
      <div class="mb-3">
        <label
          id="surname"
          aria-describedby="surnameHelp"
          class="form-label fw-semibold fs-4"
        >Surname</label>
        <input
          type="text"
          class="form-control"
          id="surnameHelp"
          aria-describedby="surnameHelp"
        />
        <div id="emailHelp" class="form-text" style="color: #fcefaa;">Example:
          Quevedo</div>
      </div>
      <div class="mb-3">
        <label for="exampleUserPhoto" class="form-label fw-semibold fs-4">User
          photo</label>
        <input
          type="text"
          class="form-control"
          id="photo"
          aria-describedby="photo"
        />
        <div id="photoHelp" class="form-text" style="color: #fcefaa;">Example:
          user.png</div>
      </div>
      <div class="mb-3 w-100%">
        <label
          for="exampleInputEmail1"
          class="form-label fw-semibold fs-4"
        >Email</label>
        <input
          type="email"
          class="form-control"
          id="emailRegister"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text" style="color: #fcefaa;">Example:
          ezequielquevedo111@gmail.com</div>
      </div>
      <div class="mb-3 w-100%">
        <label
          for="passwordHelp"
          class="form-label fw-semibold fs-4"
        >Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordRegister"
          aria-describedby="passwordHelp"
        />
        <div id="passwordHelp" class="form-text" style="color: #fcefaa;"></div>
      </div>

      <button
        type="submit"
        class="btn w-100 fw-semibold"
        id="newUser"
        style="background-color: #fcefaa; color: #121010"
      >Register</button>
    </form>
  </div>
</main>
<script src="/scripts/register.js"></script>