<main>
  <h1 class="fw-bolder text-center text-break" style="color: #352D2D">ENTER YOUR
    PERSONAL INFORMATION TO COMPLETE THE REGISTRATION.</h1>
  <div
    class="container-fluid w-100 d-flex justify-content-center align-content-center pt-5 pb-5"
  >

    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label fw-semibold">Full name</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">Example: Ezequiel Quevedo.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label fw-semibold">User
          photo</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">Example: user.png.</div>
      </div>
      <div class="mb-3">
        <label
          for="exampleInputEmail1"
          class="form-label fw-semibold"
        >Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">Example:
          ezequielquevedo111@gmail.com.</div>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</main>